#body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: crimson
}

header{
    text-align: justify;
    background-color: lightcoral;
    box-sizing: border-box;
    padding: 15px;
    }
