body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    height: 900px;
}

header{
    text-align: center;
    background-color: lightcoral;
    border: 4px dashed rgb(250, 206, 206);
    border-radius: 60px;
    padding: 15px;
    margin: 20px 350px 20px 340px ;
    }
p{
    background: transparent;
    display: inline-table;
    color: white;
    text-align: center;
    margin: 45px 20px 45px 20px;
    padding: 10px;
    /*border-left: 1px solid black;
    border-right: 1px solid black;*/
    border-bottom: 1px solid black;
    border-radius: 10px;
}
p:hover{
    transform: scale(1.5);
    transition: 1s ease 0.3s;
}
section{
    color: whitesmoke;
    margin: 15px auto;
    padding: 20px;
    width: 1080px;
    }
h2{
    font-style: oblique;


}